
.vs/Asteroids/v16/.suo
.vs/Asteroids/v16/Browse.VC.db
.vs/Asteroids/v16/Browse.VC.opendb
.vs/Asteroids/v16/ipch/AutoPCH/121e5b8291a2b41f/RUNGAME.ipch
.vs/Asteroids/v16/ipch/AutoPCH/ae0a89a83cd37123/MAIN.ipch
binWin32/Debug/Asteroids.exe
binWin32/Debug/Asteroids.ilk
binWin32/Debug/Asteroids.pdb
objWin32/Debug/Asteroids.log
objWin32/Debug/Asteroids.tlog/Asteroids.lastbuildstate
objWin32/Debug/Asteroids.tlog/CL.command.1.tlog
objWin32/Debug/Asteroids.tlog/CL.read.1.tlog
objWin32/Debug/Asteroids.tlog/CL.write.1.tlog
objWin32/Debug/Asteroids.tlog/link.command.1.tlog
objWin32/Debug/Asteroids.tlog/link.read.1.tlog
objWin32/Debug/Asteroids.tlog/link.write.1.tlog
objWin32/Debug/main.obj
objWin32/Debug/RunGame.obj
objWin32/Debug/vc142.idb
objWin32/Debug/vc142.pdb
